@mixin fs-sm{
    font-size: 0.75rem !important;
  }
      
@mixin fs-md{
    font-size: 2rem !important;
}

@mixin fs-lg{
font-size: 2.5rem !important;
}
      
@mixin btn-sm {
    outline: none;
    border: none;
    // padding: 1rem 1.3rem;
    border-radius: 5%;
    // margin: 0rem 1rem;
    cursor: pointer;
}

@mixin btn-lg {
    outline: none;
    border: none;
    border-radius: 3%;
    cursor: pointer;
    // margin: 0rem 1rem;
}


@mixin container-box{
    margin-left: 4rem;
    margin-right: 4rem;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    color: map-get($colors, clr_black);
    // font-weight: 400;
}

.row{
    display: flex;
}
  
.justify-content-around{
    justify-content: space-around;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}


.align-items-center{
    align-items: center;
}

// .show-bar, .close-bar{
//     color: map-get($colors, clr_black);
//     display: none;
//     // font-size: map-get($font-sizes, fs-medium);
// }


.active{
    color: map-get($colors, clr_red) !important;
    }

.icon{
    font-size: map-get($font-sizes, fs-small);
}

.lead{
    line-height: 1.5;
    font-weight: map-get($font-weights, fw-regular);
    color: map-get($colors, clr_black);
}

// .btn{
//     outline: none;
//     border: none;
//     font-weight: map-get($font-weights, fw-medium);
    
// }