@import "variables"; 
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: roboto;
}

.container{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.navbar-box{
    // background-color: map-get($colors, clr_white);
    box-shadow: 0px 2px 4px lighten(#4D4D4D, 60%),0px 4px 10px lighten(#4D4D4D, 60%);
}

.navbar{
    width: 100%;
    height: 80px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: map-get($colors, clr_grey);
    // background-color: #c0c0c0;

    .navbar-brand img {
        width: 100%;
    }


    // Navbar link

        .nav-bar{
            display: flex;
            align-items: center;
            gap: 10rem;
            // justify-content: space-between;

            .close-btn{
                display: none;
            }

            ul{
                display: flex;
                gap: 4rem;
                // align-items: center;
                list-style: none;
                gap: 1rem;

                .navbar-items .navbar-link{
                color: map-get($colors, clr_grey);
                text-decoration: none;
                font-size: map-get($font-sizes, fs-small);
                font-weight: map-get($font-weights, fw-medium);
            }
                        

        }

        .search-container{
            position: relative;
            padding: 1rem;
            margin: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            background-color: map-get($colors, clr_white);
            box-shadow: 0px 2px 4px rgba(0,0,0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.19);
            padding: 0.5rem;
            border-radius: 5px;

            .search-count{
                background-color: map-get($colors, clr_red);
                color: map-get($colors, clr_white);
                width: 30px;
                height: 30px;
                text-align: center;
                padding: 0.3rem;
                border-radius: 50%;
                position: absolute;
                top: -10%;
                right: -5%;
                box-shadow: 0px 2px 4px #F55253,0px 4px 10px #F55253;
            }
        }

        .form-group{
            display: flex;
            align-items: center;
            // gap: 1rem;
            // background-color: map-get($colors, clr_white);
            // box-shadow: 0px 2px 4px rgba(0,0,0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.19);
            // padding: 0.5rem;
            // border-radius: 5px;

            input{
                width: 200px;
                padding: 0.7rem;
                border: none;
                outline: none;
            }

            .divder{
                background-color: map-get($colors, clr_grey);
                width: 10px;
                height: 10px;
            }
        }
    }

     .show-btn{
        display: none;
    }
}



/*===================== Landing Page ===================== */
.landing-page{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .landing-col-1{
        width: 45%;
        padding: 1rem;

        .morethanfaster{
            width: 220px;
            background-color: lighten(#F55253, 30%);
            color: map-get($colors, clr_red);
            border-radius: 30px;
            padding: 1rem 0rem 0rem 1.5rem;
            font-weight: map-get($font-weights, fw-regular);
            font-size: map-get($font-sizes, fs-small);
            box-shadow: 0px 2px 4px rgba(#000000,  0.19);
            margin-bottom: 20px;
            display: flex;
            
            img{
                width: 40px;
            }
        }

        .heading-title{
            font-size: map-get($font-sizes, fs-xxxlarge);
            font-weight: map-get($font-weights, bold);
            color: map-get($colors, clr_black);
            margin-bottom: 1rem;
            
            span{
                font-weight: normal !important;
            }
        }

        .title-content{
            margin-bottom: 3rem;
        }

        .landing-btn{
            display: flex;
            gap: 2rem;


            .btn-red{
                @include btn-lg;
                padding: 1rem 1.5rem;
                background-color: map-get($colors, clr_red);
                color: map-get($colors, clr_white);
                font-weight: map-get($font-weights, fw-medium);
            }

            .btn-play{
                @include btn-lg;
                display: flex;
                // margin-top: 10px;

                img{
                    box-shadow: 0px 2px 4px rgba(#000000,  0.19);
                    border-radius: 50%;
                    width: 60px;
                }
                
                span{
                    font-weight: map-get($font-weights, fw-regular);
                    padding-left: 10px;
                    margin-top: 20px;
                }
            }
        }
    }
}


/*===================== What We Serve ===================== */
.whatweserve{
    background-color: lighten(#F55253, 30%);
    padding: 2rem;

    .whatweserve-title{
        text-align: center;
        margin: 3rem 0rem;
        
        h5{
            color: map-get($colors, clr_red);
            font-size: map-get($font-sizes, fs-xsmall);
            margin: 0.5rem 0rem;

        }

        h1{
            font-size: map-get($font-sizes, fs-large);
            line-height: 1.5;
        }
    }

    .card-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin-left: 7rem;
        margin-bottom: 5rem;


        .card{
            width: 18rem;
            height: 20rem;
            background-color: map-get($colors, clr_white);
            padding: 1rem;
            text-align: center;
            border-radius: 8px;
            padding: 1rem;
            
            img{
                margin: 1.5rem 0rem;
            }

            .card-desc{
                padding: 1rem;

                h4{
                    margin-bottom: 1rem;
                    font-size: 1rem;
                }

                p{
                    line-height: 1.5;
                }
            }
        }


        .second-card{
            display: grid;
            grid-template: 1fr / 1fr;
            place-content: center;

            *{
                grid-column: 1 / 1;
                grid-row: 1 / 1;
            }

            .card-outer{
                z-index: 1;
                background-color: map-get($colors, clr_red);
                border-radius: 5px;
                transform: rotate(3deg);
                width: 18rem;
                height: 20rem;
            }

            .card-1{
                z-index: 2;
            }
        }

    }
}


/*=============== MOBILE RESPONSIVE  ===============*/

@media screen and (max-width: 992px) {
    .container{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .row{
        display: flex;
        flex-direction: column;
    }

    /*===================== Mobile responsive navbar ===================== */
    
    .navbar{
        padding: 1rem;

        i.show-btn{
            display: block;
            font-size: map-get($font-sizes, fs-medium);
        }

        span.close-btn{
            display: block;
            color: map-get($colors, clr_white);
        }

        .navbar-brand img {
            width: 80%;

        }

        .nav-bar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            width: 0%;
            height: 100%; 
            position: fixed; 
            top: 0; 
            left: 0;
            background-color: map-get($colors, clr_black);
            overflow-x: hidden; 
            transition: 0.5s; 
            
            ul{
                display: flex;
                flex-direction: column;
                padding: 1rem;
                margin-top: 2rem;
                
                .navbar-items .navbar-link{
                    color: map-get($colors, clr_white);
                }
            }

            .close-btn{
                position: absolute;
                top: 0;
                right: 25px;
                display:block;
                cursor: pointer;
                color: map-get($colors, clr_white);
                font-size: 2.5rem;
            }
        }       
    }



    /*==============LANDING PAGE ==============*/

    .landing-page{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // gap: rem;

        .landing-col-1{
            width: 100%;
            padding: 1.3rem 1rem;

            .morethanfaster{
                width: 180px;
                background-color: lighten(#F55253, 30%);
                color: map-get($colors, clr_red);
                border-radius: 30px;
                padding: 1rem 0rem 0rem 1.5rem;
                font-weight: map-get($font-weights, fw-regular);
                font-size: map-get($font-sizes, fs-xsmall);
                box-shadow: 0px 2px 4px rgba(#000000,  0.19);
                margin-bottom: 10px;
                display: flex;
                
                img{
                    width: 40px;
                }
            }

            .heading-title{
                font-size: map-get($font-sizes, fs-xxlarge);
                font-weight: map-get($font-weights, bold);
                color: map-get($colors, clr_black);
                margin-bottom: 0.7rem;
                
                span{
                    font-weight: normal !important;
                }
            }

            .title-content{
                margin-bottom: 1.5rem;
            }

            .landing-btn{
                display: flex;
                gap: 2rem;


                .btn-red{
                    @include btn-lg;
                    padding: 1rem 1.5rem;
                    background-color: map-get($colors, clr_red);
                    color: map-get($colors, clr_white);
                    font-weight: map-get($font-weights, fw-medium);
                }

                .btn-play{
                    @include btn-lg;
                    display: flex;
                    // margin-top: 10px;

                    img{
                        box-shadow: 0px 2px 4px rgba(#000000,  0.19);
                        border-radius: 50%;
                        width: 60px;
                    }
                    
                    span{
                        font-weight: map-get($font-weights, fw-regular);
                        padding-left: 10px;
                        margin-top: 20px;
                    }
                }
            }
        }

        .landing-col-2 img{
            width: 20rem;
        }
    }



    /*===================== What We Serve ===================== */
    .whatweserve{
        background-color: lighten(#F55253, 30%);
        padding: 2rem;

        .whatweserve-title{
            text-align: center;
            margin: 3rem 0rem;
            
            h5{
                color: map-get($colors, clr_red);
                font-size: map-get($font-sizes, fs-xsmall);
                margin: 0.2rem 0rem;

            }

            h1{
                font-size: map-get($font-sizes, fs-medium);
                line-height: 1.5;
            }
        }

        .card-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            padding: 0rem;
            margin-left: -0rem;
            margin-top: 0.5rem;

            .card{
                width: 18rem;
                height: 20rem;
                background-color: map-get($colors, clr_white);
                padding: 1rem;
                text-align: center;
                border-radius: 8px;
                padding: 0.8rem;
                
                img{
                    margin: 1.5rem 0rem;
                }

                .card-desc{
                    padding: 1rem;

                    h4{
                        margin-bottom: 1rem;
                        font-size: 1rem;
                    }

                    p{
                        line-height: 1.5;
                    }
                }
            }


            .second-card{
                display: grid;
                grid-template: 1fr / 1fr;
                place-content: center;

                *{
                    grid-column: 1 / 1;
                    grid-row: 1 / 1;
                }

                .card-outer{
                    z-index: 1;
                    background-color: map-get($colors, clr_red);
                    border-radius: 5px;
                    transform: rotate(2deg);
                    // width: 19rem;
                    // height: 20rem;
                }

                .card-1{
                    z-index: 2;
                }
            }

        }
    }

    

}

@media screen and (max-width: 576px) {
    .container{
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
}
